<table class="file-table">
<tr>
      <th>{{@col1}}</th>
      <th>{{@col2}}</th>
      
</tr>

{{#if @result.files}}
      
      {{#each @result.files as |file|}}
            <tr>
            <td>{{tohtml (highlight file.name @result.keyword)}}</td>
            <td>{{file.type}}</td>
            </tr>
      {{/each}}
      {{else}}
      <tr>
            <td>{{@loading}}</td>
            <td>{{@loading}}</td>
      </tr>
      {{/if}}
</table>