{{page-title "Search"}}

{{!-- input box --}}
<div class="input-div">
    {{input type="text"  placeholder="Enter Directory || eg:D:/ or D:/folder-name" class="input-box" autocomplete="on" value=this.directoryPath }}<br><br>
    {{input type="text"  placeholder="Enter filename/keyword" class="input-box" autocomplete="on" value=this.keyword }}<br><br>
    <button type="button" class="button"{{on "click" (fn this.getFiles this.directoryPath this.keyword)}}>Search</button>
</div>

<br><br>

{{!-- result table --}}
<Table @result={{this.result}} @loading={{this.loading}} @col1="ALL FILES"  @col2="TYPE"/>


